@import "../variable";
@import "../mixin";

.wrapper {
  max-width: 100rem;
  margin: 0 auto 5rem auto;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include mq-up(ms) {
    margin-top: 10rem;
  }
}
.input_container {
  display: flex;
  flex-direction: column;
  flex-basis: 30rem;
}
.input {
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1.8rem;
  outline: none;
  &:focus {
    border: 1px solid $accent-color;
  }
}
.label {
  margin: 0.5rem 1rem 0 1rem;
  font-size: 1.2rem;
}
.button {
  display: block;
  width: max-content;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  border: none;
  background: $accent-gradient;
  color: $light;
  font-size: 3rem;
  font-weight: bold;
  @include mq-up(ms) {
    font-size: 2rem;
  }
}

.rank_result {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: $accent-color;
  background: $accent-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rank_message {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: $dark;
}

.result_table {
  width: max-content;
  margin: 3rem auto;
  &_row {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  &_value {
    padding: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: $accent-color;
    background: $accent-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.hide {
  opacity: 0;
}
.show {
  transition: 0.2s ease;
  opacity: 1;
}
.twitter_share {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1da1f2;
  color: $light;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: max-content;
  margin: 2rem auto;
  font-size: 1.5rem;
  &_text {
    margin-left: 0.5rem;
  }
}
