@import "../../variable";
@import "../../breakpoint";
@import "../../mixin";

.header {
  max-width: 100rem;
  padding: 0 5rem;
  margin: auto;
  display: none;
  justify-content: space-between;
  @include mq(md) {
    display: flex;
  }
}
.nav {
  display: flex;
}
.navItem {
  height: min-content;
  padding: 2rem 1rem;
  font-size: 1.8rem;
}
